/*全体 --------------------------------------*/
$breakpoints: (
    'sm': 'screen and (max-width: 414px)',
    'md': 'screen and (max-width: 820px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}

//変数
$background-color_gray : #F5F5F5;
$font-color_white : whitesmoke;

$font-size_xxs : 12px;
$font-size_xs : 15px;

$border-gray : #707070;

/*btn-top*/
.btn-top-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    max-width: 520px;
    min-width: 450px;
    margin: 0 auto;
    @include mq(sm){
        flex-direction: column;
        min-width: 210px;
    }
}
.btn-top{
    width: 210px;
    font-size: 28px;
    @include mq(sm){
        font-size: $font-size_s;
        margin: 0 auto;
    }
    &:last-child{
        @include mq(sm){
            margin-top: 20px;
        }
    }
}
    
/*main*/
#main{
    margin-bottom: 120px;
}

/*top-view*/
#top-view{
    color: $font-color_white;
    //height: 500px;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 50px;
    background-image: url(../img/top-background.jpg);
    background-size: cover;
    @include mq(sm){
        margin-bottom: 20px;
    }
}
/*explanation*/
#explanation{
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
    p{
        padding: 10px 0;
        @include mq(sm){
            font-size: $font-size_xs;
        }
    }
    /*@include mq(md){
        text-align: left;
    }*/
}
/*point*/
#point{
    background-color: #EDEDED;
    margin-bottom: 80px;
}
#point h2{
    background-color: #D67834;
    color: $font-color_white;
}
/*アコーディオン -------------------------------*/
/* テキスト */
.cp-text {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #707070;
    @include mq(sm){
        text-align: left;
    }
}
* + .cp-text {
    margin: 16px 0 0 0;
}

.cp-accordion01 {
    position: relative;
    width: 100%;
    outline: 0;
    border-top: none;
}

/* アイテム */
.cp-accordion01__item {
    border: 2px solid #D67834;
}
.cp-accordion01__item:not(:last-child) {
    border-bottom: none;
}

/* 見出し */
.cp-accordion01__title {
    position: relative;
    padding: 12px;
    font-size: 18px;
    line-height: 1.5;
    transition: .2s ease-in-out;
    color: $font-color_white;
    background: #D67834;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.cp-accordion01__title:hover {
    opacity: 0.7;
}
.cp-accordion01__title:after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    margin: auto;
    right: 8px;
    transition: all 0.2s ease-in-out;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(135deg);
}
.cp-accordion01__title.active:after {
    transform: rotate(-45deg);
}

/* コンテンツ */
.cp-accordion01__content {
    margin-top: 0;
    padding: 24px;
    display: none;
}
